BODY {
    behavior: url("images/csshover3.htc"); 
	 MARGIN: 0px; COLOR: #333; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff  ; font-size: 13px;
}

fieldset {
	border:  1px solid #D0D0D0;
	
}




table {
    font-size: 13px;
}
    

img {
border : 0;
}                             

select{
border:1px solid #dcdcdc;border:1px solid rgba(0, 0, 0, 0.1);color:#666;cursor:pointer;min-height:25px;font-family:inherit;}



input[type="submit"]{
background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));background-image:-webkit-linear-gradient(top,#f5f5f5,#f1f1f1);-webkit-border-radius:2px;-webkit-user-select:none;background-color:#f5f5f5;background-image:linear-gradient(top,#f5f5f5,#f1f1f1);background-image:-o-linear-gradient(top,#f5f5f5,#f1f1f1);border:1px solid #dcdcdc;border:1px solid rgba(0, 0, 0, 0.1);border-radius:2px;color:#666;cursor:pointer;line-height:27px;margin:11px 6px;min-width:54px;padding:0 8px;text-align:center}

input[type="submit"]:hover{background-image:-webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));background-image:-webkit-linear-gradient(top,#f8f8f8,#f1f1f1);-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);background-color:#f8f8f8;background-image:linear-gradient(top,#f8f8f8,#f1f1f1);background-image:-o-linear-gradient(top,#f8f8f8,#f1f1f1);border:1px solid #c6c6c6;box-shadow:0 1px 1px rgba(0,0,0,0.1);color:#333}

input[type="submit"]:focus{border:1px solid #4d90fe;outline:none}

input{font-family:inherit}  





/*---------- SONGS TABLES COLORS ---------*/
.row_1{
background-color: #F9F9F9;

}


.row_2{
background-color: #FFFFFF ;
}

.row_1:hover{
background-color: #E8F8FF;
}

.row_2:hover{
background-color: #E8F8FF;
}

.row_checked{
  background-color: #EAFFEA;  
}
/*------ SPARATE LINKE ----------------*/
.separate_line{
border-width: 1px;border:1px dashed #EFEFEF;
}
/*---------- LINKS ----------*/
A {
	COLOR: #c64934; TEXT-DECORATION: none  ;  font-size: 13px;
}
A:hover {
	COLOR: #30569d; TEXT-DECORATION: underline;  
}
A:active {
	COLOR: #333333; TEXT-DECORATION: underline  ;  
}

.title {
	FONT-SIZE: 10pt;  COLOR: #458A00; FONT-FAMILY: Tahoma; TEXT-DECORATION: none; font-weight:bold
}

TABLE.menubar {
	WIDTH: 100%
}
TD {
	/*FONT-SIZE: 15px*/
}


FORM {
	MARGIN: 0px
}
DIV.centermain {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 99%; PADDING-TOP: 0px
}

A.tooltip {
	COLOR: black; BORDER-BOTTOM: #aaa 1px dashed; TEXT-DECORATION: none
}
A.tooltip:hover {
	COLOR: black; BORDER-BOTTOM: #aaa 1px dashed; TEXT-DECORATION: none
}
A.tooltiplink {
	DISPLAY: block; WIDTH: 100%
}
A.tooltiplink:hover {
	TEXT-DECORATION: none
}
DIV.footer {
	CLEAR: both; MARGIN-TOP: 10px
}


.small{
FONT-SIZE: 15px;
}

table.grid {
	border: 1px solid #ccc;
	
	color: #333;
}



table.grid a {
text-decoration: none;
	border-bottom: 1px dotted #f60;
	color: #f60;
/*	font-weight: bold;  */
}

table.grid a:hover {
	text-decoration: none;
	color: #fff;
	background: #f60;  
}

table.grid tr th a {
/*	color: #369;
	border-bottom: 0px dotted #369;  */
}

table.grid tr th a:hover {
	color: #fff;
/*	background: #369;   */
}

table.grid thead tr th {
	text-transform: uppercase;
	background: #e2e2e2;
	/*font-size:15px;*/
}

table.grid tfoot tr th, table.grid tfoot tr td {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	
}

table.grid td{
	
	padding: 5px;
/*	FONT-SIZE: 15px; */
}

table.grid th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
/*	font-size:12px; */
	
}

table.grid tr.odd th, table.grid tr.odd td {
	background: #efefef;
}

/***********************************************/
.form {
	border-right: #ccc 1px solid; 
	padding-right: 1px; 
	border-top: #ccc 1px solid; 
	padding-left: 1px; 
	background: #ffffff; 
	font: 12px Arial, Helvetica, sans-serif; 
	border-left: #ccc 1px solid; 
	border-bottom: #ccc 1px solid
}
.infoText {
	color: #f60;
	font-weight: bold;
	padding-left: 10px;
}
input.btn {
	border-right: #666 1px solid; 
	border-top: #999 1px solid; 
	font-weight: bold; 
	border-left: #999 1px solid; 
	color: #333; 
	border-bottom: #666 1px solid; 
	font-family: 'trebuchet ms',helvetica,sans-serif;
	filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#efefef');
}



#passwordStrength
{
	height:3px;
	display:block;
	float:center;
}

.strength0
{
	width:250px;
	background:#cccccc;
}

.strength1
{
	width:50px;
	background:#ff0000;
}

.strength2
{
	width:100px;	
	background:#ff5f5f;
}

.strength3
{
	width:150px;
	background:#56e500;
}

.strength4
{
	background:#4dcd00;
	width:200px;
}

.strength5
{
	background:#399800;
	width:250px;
}


div.autocomplete {
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0;
  padding:0;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
div.autocomplete ul li.selected { background-color: #ffb;}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  height:32px;
  cursor:pointer;
}



/* TextboxList sample CSS */
ul.holder { margin: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li { float: right; list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 3px 0px 2px; } /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */      
#add { border: 1px solid #999; width: 550px; margin: 50px; padding: 20px 30px 10px; }
form ol li { list-style-type: none; }
form ol { font: 11px "Lucida Grande", "Verdana"; margin: 0; padding: 0; }
form ol li.input-text { margin-bottom: 10px; list-style-type: none; padding-bottom: 10px; }
form ol li.input-text label { font-weight: bold; cursor: pointer; display: block; font-size: 13px; margin-bottom: 10px; }
form ol li.input-text input { width: 400; padding: 5px 5px 6px; font: 11px "Lucida Grande", "Verdana"; border: 1px solid #999; }
form ul.holder { width: 400px; }
form ul { margin: 0 !important }
ul.holder li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; z-index:1000;}
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

/* Autocompleter */

.facebook-auto { display: none; position: absolute; width: 400px; background: #eee; }
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}

#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}